torch
huggingface-hub
numpy
opencv-python
Pillow
transformers
# segment-anything = {git = "https://github.com/facebookresearch/segment-anything.git"}
# groundingdino = {git = "https://github.com/IDEA-Research/GroundingDINO.git"}